@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

@theme {
  --color-light: #ECECEC;
  --color-dark: #202025;
  --color-dark-grey: #3F3F4B;
  --color-grey: #D2D2DA;
  --color-grey-secondary: #BCBCBC;
  --color-input-dark: #4C4C58;
  --color-input-light: #C8C8D4;
  --color-light-grey: #6F6F7C;


  --font-manrope: 'Manrope', sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  @apply font-manrope bg-light dark:bg-dark;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}